In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/금융시계열/QUARTERLY.csv")

In [ ]:
df.head()

,Date,FFR,Tbill,Tb1yr,r5,r10,PPINSA,Finished,CPI,CPICORE,M1NSA,M2SA,M2NSA,Unemp,IndProd,RGDP,Potent,Deflator,Curr
0,1960-01-01,3.93,3.87,4.57,4.64,4.49,31.67,33.20,29.40,18.92,140.53,896.1,299.40,5.13,23.93,2845.3,2824.2,18.521,31.830
1,1960-04-01,3.70,2.99,3.87,4.30,4.26,31.73,33.40,29.57,19.00,138.40,903.3,300.03,5.23,23.41,2832.0,2851.2,18.579,31.862
2,1960-07-01,2.94,2.36,3.07,3.67,3.83,31.63,33.43,29.59,19.07,139.60,919.4,305.50,5.53,23.02,2836.6,2878.7,18.648,32.217
3,1960-10-01,2.30,2.31,2.99,3.75,3.89,31.70,33.67,29.78,19.14,142.67,932.8,312.30,6.27,22.47,2800.2,2906.7,18.700,32.624
4,1961-01-01,2.00,2.35,2.87,3.64,3.79,31.80,33.63,29.84,19.17,142.23,948.9,317.10,6.80,22.13,2816.9,2934.8,18.743,32.073

In [ ]:
import math

In [ ]:
yt_indprod = []

In [ ]:
for i in range(212):
    if i == 0: 
        yt = None
    else: 
        yt = math.log(df['IndProd'][i]) - math.log(df['IndProd'][i-1])
        
    yt_indprod.append(yt)
df['yt_indprod'] = yt_indprod

In [ ]:
df

,Date,FFR,Tbill,Tb1yr,r5,r10,PPINSA,Finished,CPI,CPICORE,M1NSA,M2SA,M2NSA,Unemp,IndProd,RGDP,Potent,Deflator,Curr,yt_indprod
0,1960-01-01,3.93,3.87,4.57,4.64,4.49,31.67,33.20,29.40,18.92,140.53,896.1,299.40,5.13,23.93,2845.3,2824.2,18.521,31.830,NaN
1,1960-04-01,3.70,2.99,3.87,4.30,4.26,31.73,33.40,29.57,19.00,138.40,903.3,300.03,5.23,23.41,2832.0,2851.2,18.579,31.862,-0.021970
2,1960-07-01,2.94,2.36,3.07,3.67,3.83,31.63,33.43,29.59,19.07,139.60,919.4,305.50,5.53,23.02,2836.6,2878.7,18.648,32.217,-0.016800
3,1960-10-01,2.30,2.31,2.99,3.75,3.89,31.70,33.67,29.78,19.14,142.67,932.8,312.30,6.27,22.47,2800.2,2906.7,18.700,32.624,-0.024182
4,1961-01-01,2.00,2.35,2.87,3.64,3.79,31.80,33.63,29.84,19.17,142.23,948.9,317.10,6.80,22.13,2816.9,2934.8,18.743,32.073,-0.015247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,2011-10-01,0.07,0.01,0.11,0.95,2.05,200.77,192.97,226.97,112.50,2165.77,28787.3,9599.47,8.67,95.33,13441.0,14255.9,113.987,1055.496,0.012243
208,2012-01-01,0.10,0.07,0.16,0.90,2.04,202.17,193.73,228.27,113.12,2213.97,29238.6,9777.03,8.27,96.70,13506.4,14317.4,114.599,1082.519,0.014269
209,2012-04-01,0.15,0.09,0.19,0.79,1.82,201.80,192.83,228.84,113.60,2258.30,29611.6,9888.97,8.17,97.27,13548.5,14379.3,115.035,1104.500,0.005877
210,2012-07-01,0.14,0.10,0.18,0.67,1.64,202.40,195.20,230.03,113.91,2326.47,30251.4,10029.87,8.03,97.39,13652.5,14441.9,115.810,1119.187,0.001233
211,2012-10-01,0.16,0.09,0.17,0.69,1.71,202.27,196.20,231.28,114.18,2436.73,30938.8,10319.60,7.83,98.01,13665.4,14505.4,116.089,1147.623,0.006346

In [ ]:
import statsmodels.api as sm

In [ ]:
model = sm.tsa.arima.ARIMA(df['yt_indprod'],order = (1,0,0))
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:             yt_indprod   No. Observations:                  212
Model:                 ARIMA(1, 0, 0)   Log Likelihood                 621.539
Date:                Wed, 22 Mar 2023   AIC                          -1237.079
Time:                        04:12:58   BIC                          -1227.009
Sample:                             0   HQIC                         -1233.009
                                - 212
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0065      0.002      2.607      0.009       0.002       0.011
ar.L1          0.6066      0.041     14.746      0.000       0.526       0.687
sigma2         0.0002      1e-05     16.110      0.000       0.000       0.000
===================================================================================
Ljung-Box (L1) (Q):                   0.92   Jarque-Bera (JB):                77.49
Prob(Q):                              0.34   Prob(JB):                         0.00
Heteroskedasticity (H):               0.37   Skew:                            -0.09
Prob(H) (two-sided):                  0.00   Kurtosis:                         5.96
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [ ]:
model1 = sm.tsa.arima.ARIMA(df['Unemp'],order = (2,0,0))
result1 = model.fit()
result1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:             yt_indprod   No. Observations:                  212
Model:                 ARIMA(1, 0, 0)   Log Likelihood                 621.539
Date:                Wed, 22 Mar 2023   AIC                          -1237.079
Time:                        04:14:16   BIC                          -1227.009
Sample:                             0   HQIC                         -1233.009
                                - 212
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0065      0.002      2.607      0.009       0.002       0.011
ar.L1          0.6066      0.041     14.746      0.000       0.526       0.687
sigma2         0.0002      1e-05     16.110      0.000       0.000       0.000
===================================================================================
Ljung-Box (L1) (Q):                   0.92   Jarque-Bera (JB):                77.49
Prob(Q):                              0.34   Prob(JB):                         0.00
Heteroskedasticity (H):               0.37   Skew:                            -0.09
Prob(H) (two-sided):                  0.00   Kurtosis:                         5.96
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""